# CSV to SQL

In [1]:
import pandas as pd
import numpy as np
import sys

In [11]:
# Reads CSV
pais = pd.read_csv("raw-data/pais.csv")
# Treats CSV
pais.drop("Source and date", axis=1, inplace=True)
pais.drop("Area.1", axis=1, inplace=True)
pais.drop("Population density.1", axis=1, inplace=True)
pais.drop(0, axis=0, inplace=True)
pais.rename({"Country, territory or dependency" : "Pais", "Population" : "populacao", "Area" : "area"}, axis=1, inplace=True)
pais.head()

              Pais  populacao   area Population density
1            Macau    686,607     33             20,806
2           Monaco     36,686      2             18,343
3        Singapore  5,453,600    716              7,617
4        Hong Kong  7,494,578  1,104              6,789
5  Gibraltar (BOT)     32,669      6              5,445

In [ ]:
print("Creating inserts to Pais table.")

with open("cooked-data/pais.sql", 'w') as f:
    print("Hello", file=f)